div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
  background-color: lavender;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

section a{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section p{
  float: right;
}

a{
  text-align: center;
}

img{
  position: relative;
  transition: bottom 0.6s ease-in;
  bottom: 0;
}

.img-load-complete + .spinner{
  display: none;
}

img:hover{
  bottom: 1.6rem;
}

/* .pokeballBackground{
  z-index: -1;
} */
