<nav>
  @for(page of pagesNumber; track page){
    @if(totalOfPokemons > pokeApi.pokemonsPerPage * ($index + 1)){
    <a (click)="scrollToTop()" [routerLink]="['/pokemon-list',generationToPaginate,offset + pokeApi.pokemonsPerPage * $index, pokeApi.pokemonsPerPage ]" class="btn btn-outline-danger">{{page + 1}}</a>
    }
    @else{
     <a (click)="scrollToTop()" [routerLink]="['/pokemon-list',generationToPaginate,offset + pokeApi.pokemonsPerPage * $index, totalOfPokemons - pokeApi.pokemonsPerPage * $index]" class="btn btn-outline-danger">{{page + 1}}</a>
    }
  }
</nav>

