nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
}

nav a:focus{
  background-color: #dc3545;
  color: azure;
}

nav a{
  margin-right: 1rem;
  margin-bottom: 1rem;
}



@media (min-width: 768px) {
  nav {
    overflow: unset;
  }
}
