<main>
  <nav>
    <input type="text" #name>
    <ol>
        <ul><button>Generation 1</button></ul> 
        <ul><button>Generation 2</button></ul>
        <ul><button>Generation 3</button></ul>
        <ul><button>Generation 4</button></ul>
        <ul><button>Generation 5</button></ul>
        <ul><button>Generation 6</button></ul>
        <ul><button>Generation 7</button></ul>
        <ul><button>Generation 8</button></ul>
        <ul><button>Generation 9</button></ul>
    </ol>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
