@if(isLoading && !http404){
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
}
@if(pokemonDetails && pokemonDescription){
<article class="m-3">
    <h1 class="mt-3 mb-3">{{pokemonDetails.name}}</h1>
      <div class="d-flex align-items-center justify-content-center flex-wrap flex-sm-wrap flex-md-nowrap mb-3">
        <div class="mt-3">
          <p>{{pokemonDescription}}</p>
          <img (load)="changeLoadStatus()" src="{{pokemonDetails.sprites.other['official-artwork'].front_default}}" class="img-fluid scale-in-center">
          <section class="{{pokemonDetails.types[1] ? '' : 'col-8'}} d-flex mt-3">
            <div>
              <p>Heigth: {{pokemonDetails.height / 10}} m</p>
              <p>Weigth: {{pokemonDetails.weight / 10}} kg</p>
            </div>
          <section class="d-flex">
              <div class="d-flex flex-column align-items-center">
                <p><span></span> {{pokemonDetails.types[0].type.name}}</p>
              <div class="icon {{pokemonDetails.types[0].type.name}} col-6 col-sm-3 col-md-3 col-lg-3 ">
                  <img src="/assets/icon-types/{{pokemonDetails.types[0].type.name}}.svg" class="img-fluid">
              </div>
            </div>
          @if(pokemonDetails.types[1]){
            <div class="d-flex flex-column align-items-center">
              <p>{{pokemonDetails.types[1].type.name}}</p>
              <div class="icon {{pokemonDetails.types[1].type.name}} col-6 col-md-3 col-sm-3 col-lg-3">
                <img src="/assets/icon-types/{{pokemonDetails.types[1].type.name}}.svg" class="img-fluid">
              </div>
           </div>
          }
        </section>
        </section>
        </div>
        <section>
          <h3 class="mb-3">Base stats</h3>
          <div class="d-flex justify-content-center flex-wrap">
            <p>Base experience: <span>{{pokemonDetails.base_experience}}</span></p>
            <p>HP: {{pokemonDetails.stats[0].base_stat}}<span></span></p>
            <p>Attack: {{pokemonDetails.stats[1].base_stat}}<span></span></p>
            <p>Defense: {{pokemonDetails.stats[2].base_stat}}<span></span></p>
            <p>S-Attack: {{pokemonDetails.stats[3].base_stat}}<span></span></p>
            <p>S-Defense: {{pokemonDetails.stats[4].base_stat}}<span></span></p>
            <p>Speed: {{pokemonDetails.stats[5].base_stat}} </p>
          </div>
      </section>
    </div>
      <section class="d-flex flex-column containerBorder">
        <p class="text-center fs-3">Evolution chain</p>
        <div class="d-flex justify-content-around overflow-auto">
          @if(evolutionChain.length == 1){
            <p class="text-dark">This pokémon doesn't evolve</p>
          }
          @else {
            @for (evolution of evolutionChain; track evolution.id) {
              <section class="d-flex flex-column align-items-center col-6 col-sm-5 col-md-3 col-lg-3">
                <p><span>{{evolution.name}}</span></p>
                <a [routerLink]="['/pokemon-details', evolution.id]">
                  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{evolution.id}}.png" class="img-fluid">
                </a>
              </section>
            }
          }
        </div>
      </section>
    <div class="d-flex mt-3">
      <p>Game sound</p>
      <audio controls src="{{pokemonDetails.cries.latest}}"></audio>
    </div>
  </article>
}@else if(http404){
  <div style="min-height: 160px;">
     <h1 class="mt-3 text-center">Pokémon not found</h1>
  </div>
}



