
.navStyle{
  padding-bottom: 1rem;
  background-color:#3c5aa6;
}

a:focus:not(div a){
  background-color: #ffcc03;
  color: black;
}

nav section{
  display: flex;
  justify-content: space-around;
  padding: 6px;
  margin-bottom: 1rem;
}

h1{
  text-align: center;
  color: #ffcc03;
  padding:1rem;
}

nav div{
  display: flex;
  justify-content: center;
  align-items: center;
}

section a{
  text-align: center;
  margin-right: 1rem;
  border: solid #ffcc03;
  transition: background-color 0.6s ease-in-out;
}

/*#3c5aa6
#ffcc03*/

input{
  text-align: center;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  nav section {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

