<main>
  <nav>
    <div>
      <input placeholder="find a pokemon" type="text" [(ngModel)]="pokemonName">
      @if(pokemonName != ''){
        <a [routerLink]="['/pokemon-details', pokemonName]"><span>search</span></a>
      }
    </div>
    <ul>
     <li><a [routerLink]="['/pokemon-list',pokemonQuery.first.offset, 10]">Generation I</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.second.offset, 10]">Generation II</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.third.offset, 10]">Generation III</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.fourth.offset, 10]">Generation IV</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.fifth.offset, 10]">Generation V</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.sixth.offset, 10]">Generation VI</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.seventh.offset, 10]">Generation VII</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.eighth.offset, 10]">Generation VIII</a></li>
        <li><a [routerLink]="['/pokemon-list',pokemonQuery.ninth.offset, 10]">Generation IX</a></li>
    </ul>
  </nav>
</main>
