<main>
  <nav>
    <div>
      <input placeholder="find a pokemon" type="text" [(ngModel)]="pokemonName">
      @if(pokemonName != ''){
        <a [routerLink]="['/pokemon-details', pokemonName]"><span>search</span></a>
      }
    </div>
    <ul>
     <li><a [routerLink]="['/pokemon-list','first',pokemonQuery.first.offset, pokeApi.pokemonsPerPage]">Generation I</a></li>
        <li><a [routerLink]="['/pokemon-list','second',pokemonQuery.second.offset, pokeApi.pokemonsPerPage]">Generation II</a></li>
        <li><a [routerLink]="['/pokemon-list','third',pokemonQuery.third.offset, pokeApi.pokemonsPerPage]">Generation III</a></li>
        <li><a [routerLink]="['/pokemon-list','fourth',pokemonQuery.fourth.offset, pokeApi.pokemonsPerPage]">Generation IV</a></li>
        <li><a [routerLink]="['/pokemon-list','fifth',pokemonQuery.fifth.offset, pokeApi.pokemonsPerPage]">Generation V</a></li>
        <li><a [routerLink]="['/pokemon-list','sixth',pokemonQuery.sixth.offset, pokeApi.pokemonsPerPage]">Generation VI</a></li>
        <li><a [routerLink]="['/pokemon-list','seventh',pokemonQuery.seventh.offset, pokeApi.pokemonsPerPage]">Generation VII</a></li>
        <li><a [routerLink]="['/pokemon-list','eighth',pokemonQuery.eighth.offset, pokeApi.pokemonsPerPage]">Generation VIII</a></li>
        <li><a [routerLink]="['/pokemon-list','ninth',pokemonQuery.ninth.offset, pokeApi.pokemonsPerPage]">Generation IX</a></li>
    </ul>
  </nav>
</main>
