<nav class="navStyle">
  <h1 class="text-center">Pokédex</h1>
  <section>
     <a [routerLink]="['/pokemon-list','first',pokemonQuery.first.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">I</a>
        <a [routerLink]="['/pokemon-list','second',pokemonQuery.second.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">II</a>
        <a [routerLink]="['/pokemon-list','third',pokemonQuery.third.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">III</a>
        <a [routerLink]="['/pokemon-list','fourth',pokemonQuery.fourth.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">IV</a>
        <a [routerLink]="['/pokemon-list','fifth',pokemonQuery.fifth.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">V</a>
        <a [routerLink]="['/pokemon-list','sixth',pokemonQuery.sixth.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">VI</a>
        <a [routerLink]="['/pokemon-list','seventh',pokemonQuery.seventh.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">VII</a>
        <a [routerLink]="['/pokemon-list','eighth',pokemonQuery.eighth.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">VIII</a>
        <a [routerLink]="['/pokemon-list','ninth',pokemonQuery.ninth.offset, pokeApi.pokemonsPerPage]" class="btn btn-outline-warning">IX</a>
      </section>
    <div>
      <input class="overflow-hidden" placeholder="find a pokemon" type="text" [(ngModel)]="pokemonName">
      @if(pokemonName != ''){
        <a [routerLink]="['/pokemon-details', pokemonName]" class="col-1 text-center"><img  src="/assets/pokeball-icon.png" class="col-9 col-sm-6 col-lg-3 scale-in-center"></a>
      }
    </div>
</nav>

