/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: pokemon;
  src: url('/assets/pokemon-font/pokemon-solid.ttf');
}

*{
  font-family: pokemon;
  letter-spacing: 1px;
}

h1{
  margin-bottom: initial !important;
}

body{
  background-color: lavender;
}

a{
  text-decoration: none;
}

.scale-in-center {
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*animations*/

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


